{% extends 'core/base.html' %}
{% load bootstrap5 %}
{%load static%}
{% block content %}

    <div id="add-job-app">
        <h1 class="title">Add Notice</h1>

        <form v-on:submit="validateForm" method="post" action=".">
            {% csrf_token %}

            {% if form.errors %}
                {% for error in form.errors %}
                    <div class="notification is-danger">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}

            <div class="notification is-danger" v-if="errors.length">
                <p v-for="error in errors">
                    [[ error ]]
                </p>
            </div>

            <div class="field">
                <label>Name of Study</label>

                <div class="control">
                    <input class="input" type="text" name="title" id="id_title" v-model="title">
                </div>
            </div>


            <div class="field">
                <label>Name of Researcher</label>

                <div class="control">
                    <input class="input" type="text" name="Name_of_Researcher" id="id_Name_of_Researcher" v-model="Name_of_Researcher">
                </div>
            </div>


            <div class="field">
                <label>Short description</label>

                <div class="control">
                    <textarea class="textarea" name="short_description" id="id_short_description" v-model="short_description"></textarea>
                </div>
            </div>


             <div class="field">
                <label>Benefits/Risks</label>

                <div class="control">
                    <input class="input" type="text" name="Remuneration" id="id_Remuneration" v-model="Remuneration">
                </div>
            </div>

            <div class="field">
                <label>Participation Criteria & Expectations of Participants</label>

                <div class="control">
                    <textarea class="textarea" name="long_description" id="id_long_description" placeholder="Enter participation criteria & expectations of participants" v-model="long_description"></textarea>
                </div>
            </div>

            <div class="field">
                <label>Ethic Disclaimers</label>

                <div class="control">
                    <input class="input" type="text" name="Ethic_Disclaimer" id="id_Ethic_Disclaimer" v-model="Ethic_Disclaimer">
                </div>
            </div>

            <div class="field">
                <label>Contact Details</label>

                <div class="control">
                    <input class="input" type="text" name="Contact_Details" id="id_Contact_Details" v-model="Contact_Details">
                </div>
            </div>

            <div class="field">
                <label>Application Deadline</label>

                <div class="control">
                    <input type="datetime-local" name="deadline" id="deadline" v-model="deadline">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button class="btn btn-dark" type="submit">Post</button>
                    &nbsp;&nbsp;&nbsp;
                    <a href="{% url 'frontpage' %}" class="btn btn-dark" style="color:white;">Back</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
<script>
    const AddJobApp = {
        data() {
            return {
                title: '',
                Name_of_Researcher: '',
                short_description: '',
                Remuneration: '',
                long_description: '',
                deadline: '',
                Ethic_Disclaimer: '',
                Contact_Details: '',
                errors: []
            }
        },
        delimiters: ['[[', ']]'],
        methods: {
            validateForm(e) {
                this.errors = []

                if (this.title === '') {
                    this.errors.push('The Name of Study field is empty!')
                }

                if (this.Name_of_Researcher === '') {
                    this.errors.push('The Name of Researcher field is empty!')
                }

                if (this.short_description === '') {
                    this.errors.push('The Short description field is empty!')
                }

                if (this.Remuneration === '') {
                    this.errors.push('The Remuneration field is empty!')
                }

                if (this.long_description === '') {
                    this.errors.push('The Participation Criteria & Expectations of Participants field is empty!')
                }

                if (this.deadline === '') {
                    this.errors.push('The Application Deadline field is empty!')
                }

                if (this.Ethic_Disclaimer === '') {
                    this.errors.push('The Ethic Disclaimer field is empty!')
                }

                if (this.Contact_Details === '') {
                    this.errors.push('The Contact Details field is empty!')
                }

                if (this.errors.length) {
                    e.preventDefault()

                    return false
                } else {
                    return true
                }
            }
        }
    }

    Vue.createApp(AddJobApp).mount('#add-job-app');
</script>
{% endblock %}
