{% extends 'core/base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}

    <div id="edit-job-app">
        <h1 class="title">Edit Notice</h1>

        <form v-on:submit="validateForm" method="post" action=".">
            {% csrf_token %}

            {% if form.errors %}
                {% for error in form.errors %}
                    <div class="notification is-danger">
                        Please re-enter the application deadline.
                    </div>
                {% endfor %}
            {% endif %}

            <div class="notification is-danger" v-if="errors.length">
                <p v-for="error in errors">
                    [[ error ]]
                </p>
            </div>

            <div class="field">
                <label>Name of Study</label>

                <div class="control">
                    <input class="input" type="text" name="title" id="id_title" v-model="title">
                </div>
            </div>

            <div class="field">
                <label>Name of Researcher</label>

                <div class="control">
                    <input class="input" type="text" name="Name_of_Researcher" id="id_Name_of_Researcher" v-model="Name_of_Researcher" value="{% if job.title %}{{ job.title }}{% endif %}">
                </div>
            </div>

            <div class="field">
                <label>Short description</label>

                <div class="control">
                    <textarea class="textarea" name="short_description" id="id_short_description" v-model="short_description">{% if job.short_description %}{{ job.short_description }}{% endif %}</textarea>
                </div>
            </div>

            <div class="field">
                <label>Remuneration</label>

                <div class="control">
                    <input class="input" type="text" name="Remuneration" id="id_Remuneration" v-model="Remuneration" value="{% if job.Remuneration %}{{ job.Remuneration }}{% endif %}">
                </div>
            </div>

            <div class="field">
                <label>Participation Criteria & Expectations of Participants</label>

                <div class="control">
                    <textarea class="textarea" name="long_description" id="id_long_description" v-model="long_description">{% if job.long_description %}{{ job.long_description }}{% endif %}</textarea>
                </div>
            </div>

            <div class="field">
                <label>Ethic Disclaimer</label>

                <div class="control">
                    <input class="input" type="text" name="Ethic_Disclaimer" id="id_Ethic_Disclaimer" v-model="Ethic_Disclaimer" value="{% if job.Ethic_Disclaimer %}{{ job.Ethic_Disclaimer }}{% endif %}">
                </div>
            </div>

            <div class="field">
                <label>Contact Details</label>

                <div class="control">
                    <input class="input" type="text" name="Contact_Details" id="id_Contact_Details" v-model="Contact_Details" value="{% if job.Contact_Details %}{{ job.Contact_Details }}{% endif %}">
                </div>
            </div>


            <div class="field">
                <label>Application Deadline</label>

                <div class="control">
                            <input class="datetime-local" type="datetime-local" name="deadline" id="deadline" v-model="deadline" value="{% if job.deadline %}{{ job.deadline }}{% endif %}">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button class="btn btn-dark" type="submit">Save</button>
                    &nbsp;&nbsp;&nbsp;
                    <a href="{% url 'job_detail' job.id %}" class="btn btn-dark" style="color:white;">Back</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
<script>
    const EditJobApp = {
        data() {
            return {
                title: '{{ job.title }}',
                Name_of_Researcher: '{{ job.Name_of_Researcher }}',
                short_description: '{{ job.short_description }}',
                Remuneration: '{{ job.Remuneration }}',
                long_description: '{{ job.long_description }}',
                deadline: '{{ job.deadline }}',
                Ethic_Disclaimer: '{{ job.Ethic_Disclaimer }}',
                Contact_Details: '{{ job.Contact_Details }}',
                errors: []
            }
        },
        delimiters: ['[[', ']]'],
        methods: {
            validateForm(e) {
                this.errors = []

                if (this.title === '') {
                    this.errors.push('The Name of Study field is empty!')
                }

                if (this.Name_of_Researcher === '') {
                    this.errors.push('The Name of Researcher field is empty!')
                }

                if (this.short_description === '') {
                    this.errors.push('The Short description field is missing!')
                }

                if (this.Remuneration === '') {
                    this.errors.push('The Remuneration field is empty!')
                }

                if (this.long_description === '') {
                    this.errors.push('The Participation Criteria & Expectations of Participants field is empty!')
                }

                if (this.deadline === '') {
                    this.errors.push('The Application Deadline field is empty!')
                }

                if (this.Ethic_Disclaimer === '') {
                    this.errors.push('The Ethic Disclaimer field is empty!')
                }

                if (this.Contact_Details === '') {
                    this.errors.push('The Contact Details field is empty!')
                }

                if (this.errors.length) {
                    e.preventDefault()

                    return false
                } else {
                    return true
                }
            }
        }
    }

    Vue.createApp(EditJobApp).mount('#edit-job-app');
</script>
{% endblock %}