<!DOCTYPE html>
{% load static %}
{% load bootstrap5 %}

<html>
<head>
    <style>
        body,
        html {
            margin: 0;
            padding: 0;
            height: 100%;
            background: #7abecc !important;
        }
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .navbar-end {
            display: flex;
            align-items: center;
            margin:10px;
            margin-left: auto; /* Pushes the right side elements to the right */
        }
        .navbar-item {
            margin: -2px; /* Set margin to 2mm (approximately 8px) */
        }
    </style>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" shrink-to-fit=no">

    <!-- Title -->
    <title>Uphando</title>

    <!-- Styles -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="flex-container">
        <!-- Navbar -->
        <nav class="navbar is-light">
            <div class="navbar-brand">
                <a href="{% url 'frontpage' %}" class="navbar-item fa-1x" style="color:#000000; text-decoration: none;">
                    <strong><i class="fa-solid fa-hand-holding-hand"></i>&nbsp;Uphando</strong>
                </a>
            </div>

            <div class="navbar-end">
                <a href="{% url 'search' %}" class="navbar-item fa-1x">
                    <i class="fa-solid fa-magnifying-glass" aria-hidden="true" style="color:#000000"></i>&nbsp;&nbsp;&nbsp;
                </a>
                <a href="{% url 'add_job' %}" class="navbar-item fa-2x">
                    <i class="fa-solid fa-square-plus" aria-hidden="true" style="color:#000000"></i>
                </a>

                {% if request.user.is_authenticated %}
                    <div class="navbar-item">
                        <div class="buttons">
                            <a href="{% url 'logout' %}" class="navbar-item fa-1x">
                                <i class="fa-solid fa-power-off" aria-hidden="true" style="color:#000000"></i>
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </nav>
        <!-- End Navbar -->
    </div>

    <!-- Display messages if any (taken from back end) -->
    <div class="row justify-content-center mx-3 my-4" align="center">
        <h4 class="alert-heading">
            <i class="fa-solid fa-triangle-exclamation"></i>&nbsp;&nbsp;Important notice to participants:
        </h4>
        <p class="mb-0">Please ensure that you verify that the study has been granted ethical approval by a reputable institution or department as stated in the researcher’s ethical disclaimer prior to participating.</p>
    </div>

    <!-- Main content -->
    <section class="section">
        {% block content %}
        {% endblock %}
    </section>
    <!-- End Main content -->

    <!-- Scripts -->
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Script to ensure that messages that pop up disappear in 2 seconds -->
    <script>
        setTimeout(function(){
            if ($('#msg').length > 0) {
                $('#msg').remove();
            }
        }, 5000);
    </script>

    {% block scripts %}
    {% endblock %}
</body>
</html>
